<head>

    <link rel="stylesheet" href="../css/style.css">

</head>

<div class="container">
    <div class="head">
        <div class="nav">
            <button><a href="../index.html" target="_self">Atras</a> </button>
            <button id="close">Cerrar poligono</button>
            <h1>Ejercicio 5</h1>
        </div>


    </div>
    <canvas id="picture" width="900" height="600" style="border: #000 solid 1px;" draggable="true" />
    <!-- <canvas id="picture" style="border: #000 solid 1px;" /> -->
</div>
<script language="javascript">
    var circle, isDown, origX, origY;
    var coords = [];
    let canvas = document.getElementById("picture");
    let context = document.getElementById("picture").getContext("2d");
    var height = canvas.height = window.innerHeight;
    var width = canvas.width = window.innerWidth;
    var mouseClicked = false;
    var mouseReleased = true;
    canvas.addEventListener("click", getPosition, false);
    document.getElementById("close").addEventListener("click", closePolygon, false);

    // Event will be a click event which can be retrieved as first parameter in the addEventListener(function(event){}); or in jQuery with $("selector").click(function(event){});
    function getPosition(event) {
        var rect = canvas.getBoundingClientRect();
        var x = event.clientX - rect.left; // x == the location of the click in the document - the location (relative to the left) of the canvas in the document
        var y = event.clientY - rect.top; // y == the location of the click in the document - the location (relative to the top) of the canvas in the document

        // This method will handle the coordinates and will draw them in the canvas.
        drawCoordinates(x, y);
    }

    function closePolygon() {
        var curr = coords[coords.length - 1],
            prev = coords[0];
        context.beginPath();
        context.strokeStyle = "#ffff00";
        context.moveTo(prev.x, prev.y);
        context.lineTo(curr.x, curr.y);
        context.stroke();
        drawCenter();
    }

    function drawCenter() {
        let x = 0;
        let y = 0;
        for (var i = 0; i < coords.length; i++) {
            let coord = coords[i];
            x = x + coord.x;
            y = y + coord.y;
        }
        x = x / coords.length;
        y = y / coords.length;
        context.fillStyle = "#33cc33"; //
        var pointSize = 3.5;
        context.beginPath(); //Start path
        context.arc(x, y, pointSize, 0, Math.PI * 2, true); // Draw a point using the arc function of the canvas with a point structure.
        context.fill(); // Close the path and fill.
        coords = [];
    }

    function drawCoordinates(x, y) {
        var pointSize = 5; // Change according to the size of the point.
        // var ctx = document.getElementById("canvas").getContext("2d");


        context.fillStyle = "#e60000"; //

        context.beginPath(); //Start path
        context.arc(x, y, pointSize, 0, Math.PI * 2, true); // Draw a point using the arc function of the canvas with a point structure.
        context.fill(); // Close the path and fill.
        var coord = {
            "x": x,
            "y": y
        };
        //document.getElementById("coords").innerText = "{" + coord.x + ", " + coord.y + "}";
        coords.push(coord);
        var max = coords.length - 1;
        if (typeof coords[max - 1] !== "undefined") {
            var curr = coords[max],
                prev = coords[max - 1];
            context.beginPath();
            context.strokeStyle = "#ffff00";
            context.moveTo(prev.x, prev.y);
            context.lineTo(curr.x, curr.y);
            context.stroke();
        }
    }
</script>